Source: graylog2-web
Section: utils
Priority: optional
Maintainer: Jonas Genannt <jonas.genannt@capi2name.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.5
Homepage: http://www.graylog2.org
Vcs-Git: https://github.com/hggh/graylog2-web.git
Vcs-Browser: https://github.com/hggh/graylog2-web/

Package: graylog2-web
Architecture: all
Depends: ${misc:Depends},
 java7-runtime-headless,
 adduser
Suggests: graylog2-server
Description: Graylog2 Loggingframework - Web Interface
 Graylog2 is an open source syslog implementation that stores your logs
 in ElasticSearch.
 .
 This package contains the Graylog2 Web Interface.
